# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\KULIAH SMT 3\Object Based Program\CarRental\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
